@import "normalize.css";
@font-face {
  font-family: "Inter";
  src: local("Custom Font"), url("/static/Inter-Regular.ttf") format("opentype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
}
